@font-face {
  font-family: "iconfont"; /* Project id 4646618 */
  src: url('iconfont.woff2?t=1723164482012') format('woff2'),
       url('iconfont.woff?t=1723164482012') format('woff'),
       url('iconfont.ttf?t=1723164482012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu_o:before {
  content: "\eb83";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-image:before {
  content: "\e61a";
}

.icon-tianjiayingxiang:before {
  content: "\e7cd";
}

.icon-ditu-xing:before {
  content: "\ec43";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-a-shenhegaizhang:before {
  content: "\e63a";
}

.icon-gaizhang2:before {
  content: "\e671";
}

.icon-quanjushezhi:before {
  content: "\eafb";
}

.icon-gaizhang:before {
  content: "\e669";
}

.icon-gaizhang1:before {
  content: "\e653";
}

